<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/_layout}">

<body>

<section layout:fragment="content">
    <div class="container">
        <div class="row mt-5 mb-2"><h1>Add Employee</h1></div>
        <div class="row">
            <div class="col-4">
                <form id="add-employee" class="g-3 needs-validation" th:action="@{/employee/add}"
                      th:object="${employee}"
                      method="post" novalidate>

                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors()}">
                        <h4>Errors:</h4>
                        <ul>
                            <li th:each="err : ${#fields.allErrors()}" th:text="${err}"/>
                        </ul>
                    </div>

                    <div class="form-group required mb-3">
                        <label for="name" class="form-label">Name <i class="fa-solid fa-asterisk fa-2xs"
                                                                     style="color: #ff0000;"></i>
                        </label>
                        <input type="text" class="form-control" id="name" name="name" th:field="*{name}" required/>
                        <div class="invalid-feedback">
                            Please provide a name.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="dob" class="form-label">Date of Birth <i class="fa-solid fa-asterisk fa-2xs"
                                                                             style="color: #ff0000;"></i>
                        </label>
                        <input type="date" class="form-control" id="dob" name="dateOfBirth" th:field="*{dateOfBirth}" required/>
                        <div class="invalid-feedback">
                            Please provide a date.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="gender" class="form-label">Gender <i class="fa-solid fa-asterisk fa-2xs"
                                                                         style="color: #ff0000;"></i>
                        </label>
                        <!--<select class="form-select" id="gender" name="gender" th:field="*{gender}"  required>
                            <option selected value="">Select a Option</option>
                            <option value="MALE">Male</option>
                            <option value="FEMALE">Female</option>
                        </select>-->
                        <select class="form-select" id="gender" th:field="*{gender}"  required>
                            <option selected value="">Select a Option</option>
                            <option th:each="g : ${genders}" th:value="${g}" th:text="${#strings.capitalizeWords(g.name().toLowerCase())}" th:selected="${g == employee.gender}"></option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a Gender.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="formFile" class="form-label">Image</label>
                        <input class="form-control" type="file" id="formFile" accept="image/*">
                    </div>

                    <div class="mb-3">
                        <label for="note" class="form-label">Note</label>
                        <textarea class="form-control" id="note" name="note" rows="3">
                        </textarea>
                    </div>

                    <input type="hidden" th:field="*{id}"/>

                    <div>
                        <button type="submit" class="btn btn-primary px-5">Save</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

<th:block layout:fragment="js_assets">
    <script th:inline="javascript" type="text/javascript">

        $(document).ready(function () {
            $('.needs-validation').on('submit', function (e) {
                // alert( "Handler for `submit` called. ");

                if (!this.checkValidity()) {
                    e.preventDefault();
                    e.stopPropagation();
                    $(this).addClass('was-validated');
                }else {
                    $(this).removeClass('was-validated');
                }


            });

        });

    </script>
</th:block>

</body>
</html>