<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/_layout}">

<body>

<section layout:fragment="content">
    <div class="container">
        <div class="row mt-5 mb-2"><h1>Employees List</h1></div>
        <div class="row mt-5 mb-2" sec:authorize="hasAnyRole('ADMIN')">
            <div class="d-flex">
                <a class="btn btn-primary" th:href="@{/employee/add}">Add Employee</a>
            </div>
        </div>
        <div class="row">
            <table id="employee-data" class="table table-bordered table-striped ">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <!--<tbody>
                <tr th:each="emp : ${employees}">
                    <td class="text-center" th:text="${emp.id}"></td>
                    <td th:text="${emp.name}"></td>
                    &lt;!&ndash;                    <td th:text="${emp.dateOfBirth}"></td>&ndash;&gt;
                    <td th:text="${@dateUtils.ageFromDate(emp.dateOfBirth)}"></td>
                    <td class="text-center">
                        <a href="#" class="btn btn-sm">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a href="#" class="btn btn-sm">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                </tbody>-->
            </table>
        </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Do you want to delete?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="btnDelete" type="button" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </div>
    </div>

</section>


<th:block layout:fragment="js_assets">
    <script th:inline="javascript" type="text/javascript">

        $(document).ready(function () {
            $("#employee-data").DataTable({
                serverSide: true,
                processing: true,
                info: false,
                // ordering: false,
                // paging: false
                lengthMenu: [
                    [2, 10, 25, 50, -1],
                    [2, 10, 25, 50, 'All']
                ],
                iDisplayLength: 2,
                columnDefs: [
                    {orderable: false, targets: [-1]}
                ],
                ajax: {
                    contentType: 'application/json',
                    url: '/api/v1/employee/data',
                    type: 'POST',
                    data: function (d) {
                        return JSON.stringify(d);
                    }
                },
                columns: [
                    {
                        data: 'id',
                    },
                    {
                        data: 'name',
                    },
                    {
                        data: 'dateOfBirth',
                        render: (data) => calculateAge(data)
                    },
                    {
                        data: 'id',
                        render: (data) => `
                        <a href="/employee/${data}/edit" class="btn btn-sm">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a onclick="onDelete(${data})" href="#" class="btn btn-sm" id="delete" data-bs-toggle="modal" data-bs-target="#deleteModal">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                        `
                    },
                ]
            });

        });

        function onDelete(id) {
            $("#btnDelete").attr('data-id', id);
        }

        $("#btnDelete").click(function () {
            const id = $(this).attr('data-id')
            $("#deleteModal").modal('hide');
            window.location.replace("/employee/"+id+"/delete");
        })

    </script>
</th:block>

</body>
</html>