<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/_layout}">

<body>

<!--<section id="login" layout:fragment="content">
    <div class="container-fluid">
        <div class="d-flex flex-column min-vh-100">
            <div class="d-flex flex-grow-1 justify-content-center align-items-center">
                <div class="login-box">
                    <form class="row g-3">
                        <div class="mb-3">
                            <label for="usernameInput" class="form-label">Username</label>
                            <input type="text" class="form-control" id="usernameInput" placeholder="username">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>-->

<section id="login" layout:fragment="content">
    <div class="container">
        <div class="d-flex flex-column min-vh-100">
            <div class="d-flex flex-grow-1 justify-content-center align-items-center">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card shadow">
                        <div class="card-title text-center border-bottom">
                            <h2 class="p-3">Login</h2>
                        </div>
                        <div class="card-body p-3">
                            <form class="row g-3">
                                <div>
                                    <label for="username" class="form-label">Username</label>
                                    <input type="text" class="form-control" id="username"/>
                                </div>
                                <div>
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password"/>
                                </div>
                                <div>
                                    <input type="checkbox" class="form-check-input" id="remember"/>
                                    <label for="remember" class="form-label">Remember Me</label>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn text-light main-bg">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>