<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/_layout}">

<body>

<section layout:fragment="content">
    <div class="container">
        <div class="row mt-5 mb-3"><h1>Employees Reports</h1></div>
        <div class="row">
            <div class="col-6">
                <table id="reports" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th style="width: 60%">Gender</th>
                        <th style="width: 40%">Employee Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="report : ${reports}">
                        <td th:text="${report.gender}"></td>
                        <td th:text="${report.count}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-5">
            <h3 class="mb-3">Coindesk data</h3>
            <p class="font-weight-bold" th:text="${coindesk.chartName}"></p>
        </div>
        <div class="row">
            <div class="col-6">
                <table id="coindesk" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th style="width: 60%">Currency</th>
                        <th style="width: 40%">Rate</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:object="${coindesk.bpi.uSD}">
                        <td th:text="*{code}"></td>
                        <td th:text="*{rate}"></td>
                    </tr>
                    <tr th:object="${coindesk.bpi.gBP}">
                        <td th:text="*{code}"></td>
                        <td th:text="*{rate}"></td>
                    </tr>
                    <tr th:object="${coindesk.bpi.eUR}">
                        <td th:text="*{code}"></td>
                        <td th:text="*{rate}"></td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mt-3">
            <p th:text="${coindesk.disclaimer}"></p>
        </div>

    </div>


</section>


<th:block layout:fragment="js_assets">
    <script th:inline="javascript" type="text/javascript">

        $(document).ready(function () {
            $("#employee-data").DataTable({
                info: false,
                // ordering: false,
                // paging: false

            });

        });

    </script>
</th:block>

</body>
</html>